@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Silkscreen&family=Tiro+Bangla&display=swap');
/* font-family: 'Fuzzy Bubbles', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top,rgb(157, 18, 217),rgb(255, 0, 208));
    border-radius: 10px;
    box-shadow: 1px 0px 10px pink;
}



nav{
    background-image: linear-gradient(to top left,#2c3e50,#34495e);
}
.img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar-brand{
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-family: 'Fuzzy Bubbles', cursive;
}
/* typing text start*/

/* typing text end */

/* section-02 er css start */
.section-02{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img-01 img{
    width: 100%;
}


.header{
    font-family: 'Fuzzy Bubbles', cursive;
    border-bottom: 7px dotted #27f1e4;
    margin-bottom: 20px;
    
}



.body-text-01{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #34495e;
    margin: 20px;

}

.name-01{
    color: red;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.3rem;

}



.btn-1{
    margin-bottom: 45px;
    margin-top: 20px;
    border-radius: 20px;

}
.btn-1 a, .btn-2 a{
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    letter-spacing: 2.5px;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-2 a{
    padding: 10px 55px;


}
.btn-2{
    margin-bottom: 60px;
}

.btn-1 a:hover, .btn-2 a:hover{
    color: white;
    scale: 1.1;
    background: rgba(255, 255, 255, 0.3);
}


/* section 03 er css code start */


.section-03{
    background-color: rgb(3, 0, 0);
    width: 100%;
    height: 100%;
}

.image-gellery-row-01{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box-01{
    width: 45%;
    height: 350px;
    /* border: 1px solid red; */
    border-radius: 200px;
    overflow: hidden;
}
.box-01 img{
    width: 100%;
    height: 100%;
}

.box-03, .box-02{
    width: 20%;
    height: 350px;
    border-radius: 50px;
    /* border: 1px solid green; */
    margin-left: 2%;
    overflow: hidden;
    
}
.box-02 img, .box-03 img{
    height: 100%;
}

.dis-00{
    display: none;
}
.head-00{
    text-align: center;
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 150px;

    
}

/* section 03 er css code end */
@media only screen and (max-width: 500px){
    .navbar-brand{
        color: white;
        letter-spacing: -2px;
        text-transform: capitalize;
        font-family: 'Fuzzy Bubbles', cursive;
    }

}

.box-kk{
    margin-left: 2%;
    
}
/* for image slider strat*/
.slider{
    width: 100%;
    height: 100%;
    /* border: 10px solid red; */
    overflow: hidden;
    margin-top: 100px;
}

.header-02{
    color: white;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: 10px;
    box-shadow: 2px 5px 15px lightgrey;
    letter-spacing: 3px;


}
.header-02::first-letter{
    font-size: 1.4em;
    color: red;
    text-decoration: underline;
}
.m-0{
    font-size: 1.4em;
    color: red;
    text-decoration: underline;
}


.header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
/* image slider end */


/* section 04 er code start*/
.section-04{
    width: 100%;
    height: 100%;
    margin-top: 
    100px;
    margin-bottom: 100px;
    overflow: hidden;
}
.edu-main-body{
    width: 100%;
    height: 100vh;
}
.edu-head-0 h1{
    color: white;
    letter-spacing: 3.5px;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;

}

.edu-head-0 h1::first-letter{
    color: red;
    font-size: 1.5em;
    text-decoration: underline;

}
.animation-dot{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #27f1e4;
    margin: 7px;
    

}
.animation-edu-0{
    animation: ann-edu-0 8s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes ann-edu-0{
    0%{
        width: 0%;
        background-color: #2c3e50;
    }
    50%{
        width: 100%;
        background-color: #27f1e4;
    }
    100%{
        width: 0%;
        background-color: #2c3e50;
    }
}

.animation-edu-0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edu-main-body{
    position: relative;


}

.circle-01::before{
    width: 100%;
    height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top right,red,yellow);
    clip-path: circle(18% at 10% 10%);
}
.circle-01::after{
    width: 100%;
    height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top right,red,yellow);
    clip-path: circle(18% at 90% 80%);
}

.edu-01{
    width: 40%;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    backdrop-filter: blur(7px);
    margin-left: 7%;
    margin-right: 2.5%;
    margin-top: 10%;
}

.edu-02{
    margin-top: 10%;
    width: 40%;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    backdrop-filter: blur(7px);
    margin-right: 5%;
    margin-left: 2.5%;
}
/* scetion -04 er code end */


