@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Silkscreen&family=Tiro+Bangla&display=swap');
/* font-family: 'Fuzzy Bubbles', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top,rgb(157, 18, 217),rgb(255, 0, 208));
    border-radius: 10px;
    box-shadow: 1px 0px 10px pink;
}



nav{
    background-image: linear-gradient(to top left,#2c3e50,#34495e);
}
.img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar-brand{
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-family: 'Fuzzy Bubbles', cursive;
}
/* typing text start*/

/* typing text end */

/* section-02 er css start */
.section-02{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img-01 img{
    width: 100%;
}


.header{
    font-family: 'Fuzzy Bubbles', cursive;
    border-bottom: 7px dotted #27f1e4;
    margin-bottom: 20px;
    
}



.body-text-01{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #34495e;
    margin: 20px;

}

.name-01{
    color: red;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.3rem;

}



.btn-1{
    margin-bottom: 45px;
    margin-top: 20px;
    border-radius: 20px;

}
.btn-1 a, .btn-2 a{
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    letter-spacing: 2.5px;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-2 a{
    padding: 10px 55px;


}
.btn-2{
    margin-bottom: 60px;
}

.btn-1 a:hover, .btn-2 a:hover{
    color: white;
    scale: 1.1;
    background: rgba(255, 255, 255, 0.3);
}


/* section 03 er css code start */


.section-03{
    background-color: rgb(3, 0, 0);
    width: 100%;
    height: 100%;
}

.image-gellery-row-01{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box-01{
    width: 45%;
    height: 350px;
    /* border: 1px solid red; */
    border-radius: 200px;
    overflow: hidden;
}
.box-01 img{
    width: 100%;
    height: 100%;
}

.box-03, .box-02{
    width: 20%;
    height: 350px;
    border-radius: 50px;
    /* border: 1px solid green; */
    margin-left: 2%;
    overflow: hidden;
    
}
.box-02 img, .box-03 img{
    height: 100%;
}

.dis-00{
    display: none;
}
.head-00{
    text-align: center;
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 150px;

    
}

/* section 03 er css code end */
@media only screen and (max-width: 500px){
    .navbar-brand{
        color: white;
        letter-spacing: -2px;
        text-transform: capitalize;
        font-family: 'Fuzzy Bubbles', cursive;
    }

}

.box-kk{
    margin-left: 2%;
    
}
/* for image slider strat*/
.slider{
    width: 100%;
    height: 100%;
    /* border: 10px solid red; */
    overflow: hidden;
    margin-top: 100px;
}

.header-02{
    color: white;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: 10px;
    box-shadow: 2px 5px 15px lightgrey;
    letter-spacing: 3px;


}
.header-02::first-letter{
    font-size: 1.4em;
    color: red;
    text-decoration: underline;
}
.m-0{
    font-size: 1.4em;
    color: red;
    text-decoration: underline;
}


.header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
/* image slider end */


/* section 04 er code start*/
.section-04{
    width: 100%;
    height: 100%;
    margin-top: 
    100px;
    margin-bottom:0px;
    overflow: hidden;
}
.edu-main-body{
    width: 100%;
    height: 100vh;
}
.edu-head-0 h1{
    color: white;
    letter-spacing: 3.5px;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;

}

.edu-head-0 h1::first-letter{
    color: red;
    font-size: 1.5em;
    text-decoration: underline;

}
.animation-dot{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #27f1e4;
    margin: 7px;
    

}
.animation-edu-0{
    animation: ann-edu-0 8s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes ann-edu-0{
    0%{
        width: 0%;
        background-color: #2c3e50;
    }
    50%{
        width: 100%;
        background-color: #27f1e4;
    }
    100%{
        width: 0%;
        background-color: #2c3e50;
    }
}

.animation-edu-0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-edu-card{
    width: 100%;
    height: 100vh;
    background-color:#c8d6e5 ;
}

.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.cards{
    width: 30%;
    height: 230px;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 5px 14px grey;
    transition: all 400ms ease;
}
.cards:hover{
    box-shadow: none;
}
.icon-logo{
    text-align: center;
}
.icon-logo span{
    font-size: 4rem;
    background-color: #c8d6e5;
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    margin-top: -20%;
}

.school-name{
    text-align: center;
}
.school-name h2{
    color: lightgrey;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 2px;
    font-size: 1.6rem;
}
.school-name h2::first-letter{
    color:#c8d6e5;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.line-cards{
    width: 80%;
    height: 2px;
    border-radius: 5px;
    background-color: #c8d6e5;
    text-align: center;
    
}

.middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
}
.name-of-school, .location, .class, .time-period{
    color: grey;
    font-size: 1rem;
    font-family: 'Fuzzy Bubbles', cursive;


}

@media screen and (max-width: 1200px){
    .name-of-school, .location, .class, .time-period {
        color: grey;
        font-size: 12px;
        font-family: 'Fuzzy Bubbles', cursive;
        text-align: center;
    }
    .cards{
        height: 177px;
        
    }
    .middle{
        height: 90px;
    }
}

@media screen and (max-width: 1200px){
    .name-of-school, .location, .class, .time-period {
        color: grey;
        font-size: 11px;
        font-family: 'Fuzzy Bubbles', cursive;
        text-align: center;
    }
}

@media screen and (max-width: 760px)
{
    .all-cards{
        flex-direction: column;
    }
    .cards {
        width: 100%;
        height: 230px;
        background-color: white;
        margin: auto;
        margin-top: 61px;
        border-radius: 30px;
        box-shadow: 2px 5px 14px grey;
        transition: all 400ms ease;
    }
    .container-01{
        padding-top: 100px;
    }

    .card-000{
        height: 800px;
    }
   
}




/* contact info start*/





/* contact info start */
.contact-section-01{
    width: 100%;
    height: 90vh;
    background: #c8d6e5;
}
.contact-head{
    text-align: center;
    padding-top: 0px;
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;

}
.contact-head:first-child span{
    color: red;
    font-size: 50px;
    animation: logo-1 10s linear  infinite;
}
.l-11, .la-11{
    color: red;
    border-bottom: 10px solid red;
    border-radius: 50%;
    font-size: 1.2em;
   
}

@keyframes logo-1{
    0%{
        color: #1abc9c;
    }
    25%{
        color: red;
    }
    50%{
        color: #2ecc71;
    }
    75%{
        color: #3498db;
    }
    100%{
        color: #27f1e4;
    }
}
.mt0{
    margin-top: 100px;
}
.cc-0{
    width: 30%;
    height: 130px;
    box-shadow: 3px 5px 13px grey;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
    transition: all 220ms ease-in-out;
    
}
.cc-0:hover{
    box-shadow: none;
    scale: 1.05;
}

.icon-0{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-00{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -12%;
    background-color: #c8d6e5;

    text-align: center;
    outline: 3px solid aqua;
    animation: out-0 3s linear 1s infinite ;
    color: blue;
}
@keyframes out-0{
    0%{
        outline: 6px solid aqua;
        box-shadow: 1px 3px 10px red;
    }
    25%{
        outline: 7px dotted gold;
        box-shadow: 3px 3px 10px aqua;
        

    }
    50%{
        outline: 5px solid #2ecc71;
        box-shadow: 3px 3px 10px red;

    }
    75%{
        outline: 7px solid #3498db;
        box-shadow: 3px 3px 10px pink;

    }
    100%{
        outline: 5px solid aqua;
        box-shadow: 2px 3px 10px red;

    }
}


.link-01{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.link-01 a{
    color: #27f1e4;
    background-color: white;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 1.4rem;
    box-shadow: 3px 3px 10px grey;
    font-family: 'Fuzzy Bubbles', cursive;
    transition: all 200ms ease-in-out;

}

.link-01 a:hover{
    box-shadow: none;
    background-color: antiquewhite;
    box-shadow: 3px 3px 10px #c8d6e5;

}


.icon-02{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-002{
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-top: -12%;
    padding: 3px;
    text-align: center;
    outline: 3px solid #c8d6e5;
    animation: out-0 3s linear 1s infinite ;
    color: blue;
    overflow: hidden;
    background-color: #c8d6e5;

}

.icon-03{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-003{
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-top: -12%;
    text-align: center;
    outline: 3px solid aqua;
    animation: out-0 3s linear 1s infinite ;
    color: blue;
    overflow: hidden;
    background-color: #c8d6e5;
    padding: 3px;

}



@media screen and (max-width:  994px)

{
.cc-0{
    width: 45%;
}
.cc--3{
    margin-top: 100px;
}
.contact-section-01{
    height: 100%;
    padding-bottom: 130px;
}
}

@media screen and (max-width:  794px)
{
    .cc-0{
        width: 90%;
    }

    .icon-00{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: -10%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    }

    .icon-002{
        width: 80px;
        height: 80px;
        margin-top: -10%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        padding: 3px;
        color: blue;
    }
    .icon-003{
        width: 80px;
        height: 80px;
        margin-top: -10%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    }
    .cc--2, .cc--3, .cc--1{
        margin-top: 60px;
    }
}

@media screen and (max-width:  474px)
{
    .link-01 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
    }

    .icon-00{
        width: 80px;
        height: 80px;
        margin-top: -14%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    } .icon-002{
        width: 80px;
        height: 80px;
        margin-top: -14%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    } .icon-003{
        width: 80px;
        height: 80px;
        margin-top: -14%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    }
}



@media screen and (max-width:  340px)
{
    .link-01 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 23px;
    }

    .icon-00{
        width: 80px;
        height: 80px;
        margin-top: -17%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    } 
    .icon-002{
        width: 80px;
        height: 80px;
        margin-top: -17%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    } 
    .icon-003{
        width: 80px;
        height: 80px;
        margin-top: -17%;
        text-align: center;
        outline: 3px solid #c8d6e5;
        animation: out-01 3s linear 1s infinite ;
        color: blue;
        padding: 3px;
    }
}